%h1== Comment on "#{@comment.item.title}" 

= error_messages_for :comment

= form_for(@comment, :action => url(:comments)) do
  = hidden_field :user_id
  = hidden_field :item_id
  %p= text_area :text, :label => "Comment:" 
  %p
    = submit "Create"

= link_to 'Back', url(:comments)