!!!
%head
  %title Merbbit
  %meta{:http_equiv=>"content-type", :content=>"text/html; charset=utf-8"}
  = css_include_tag 'master.css'
%body
  #outer_container
    #container
      #header
        #logo= link_to image_tag('logo.png'), '/'
        
        #navbar
          %ul
            %li= link_to 'home', '/'
            %li
              = logged_in_content do
                = link_to 'post a new item', url(:new_item)  
            - if session.user
              %li.user_status
                = link_to session.user.login, resource(session.user)
              %li.user_status
                = link_to 'Logout', url(:logout)
            - else
              %li.user_status
                = link_to 'Login', url(:login)
              %li.user_status
                = link_to 'Signup', url(:new_user)
        
      #main_content
        #main_content_inner
          = catch_content :for_layout
        
      #footer
        &copy; Dermot Brennan 
        = Date.today.year