%ul.items
  - previous_date = ''
  - if @items.size > 0
    - @items.each do |item|
      - if previous_date != item.created_at.strftime('%B %d %Y')
        - previous_date = item.created_at.strftime('%B %d %Y')
        %p.day= item.created_at.strftime '%B %d %Y'
      %li
        = partial :item, :item => item
  - else
    %p Nothing found.
    
#pagination
  #newer
    = link_to('newer', url(:controller => 'items', :action => 'index', :page => (@page - 1))) if @page > 1
  
  #items_size
    == #{@item_offset + 1} - #{@item_offset + @items.size} of #{@num_all_items}
  
  #older
    = link_to 'older', url(:controller => 'items', :action => 'index', :page => (@page + 1)) if @page < @num_pages
